@import "tailwindcss";


@font-face {
  font-family: 'Syne';
  src: url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
}

@font-face {
  font-family: 'DM Sans';
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400..700&display=swap');
}

@theme {
  /* COLORES DE MARCA */
  --color-black: #0A0A0A;
  --color-white: #F5F5F3;
  --color-off-white: #EFEFED;

  /* SUPERFICIES */
  --color-surf-1: #111111;
  --color-surf-2: #1A1A1A;
  --color-surf-3: #242424;

  /* BORDES */
  --color-border: #2A2A2A;
  --color-border-mid: #3D3D3D;

  /* GRISES */
  --color-grey-1: #555555;
  --color-grey-2: #8C8C8C;
  --color-grey-3: #BBBBBB;

  /* MARCA */
  --color-volt: #C8FF00;
  --color-volt-dark: #9DC400;
  --color-cold: #1A1F3C;

  /* SEMÁNTICOS */
  --color-danger: #FF4B4B;
  --color-success: #00C896;
  --color-warning: #FFB800;

  /* TIPOGRAFÍA  */
  --font-syne: "Syne", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  
  /* Alias para uso rápido */
  --font-display: var(--font-syne);
  --font-body: var(--font-dm-sans);

  /* SPACING BASE */
  --spacing-nav: 64px;
}

/* ESTILOS GLOBALES */
body {
  background-color: var(--color-black);
  color: var(--color-white);
  /* Usamos la variable definida en @theme */
  font-family: var(--font-dm-sans);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* SCROLLBAR PERSONALIZADO */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border-mid);
  border-radius: 2px;
}